<div class="header__top{% if settings.use_sticky %} hide-in-sticky{% endif %}">
	<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
		<div class="flex flex-align-space-between flex-align-ver">
			{%- if settings.header_text != blank -%}
			<div class="header__link-text text-center">{{ settings.header_text | raw }}</div>
			{%- endif -%}
			<div class="flex flex-align-ver header__top__right">
				<div class="flex flex-align-ver header__links">
					{%- render 'language-picker', data_group: 'header__links', show_language_icon: false, hide_language_code: false, wrap_class: 'flex flex-align-ver', addition_classes: 'header__link' -%}
					
					{%- render 'currency-switcher', addition_classes: 'header__link--top', data_group: 'header__links' -%}
					
					{%- if settings.enable_compare -%}
						<a href="javascript:void(0);" class="header__link header__link--compare header__link--top dib" title="{{ 'general.accessibility.your_compare' | t | escape }}">
							{{ 'general.accessibility.your_compare' | t }}
							(<span class="compare-number"></span>)
						</a>
					{%- endif -%}
					
					{%- if settings.enable_wishlist -%}
						<a href="javascript:void(0);" class="header__link header__link--top header__link--wishlist" title="{{ 'general.accessibility.your_wishlist' | t | escape }}">
							{{ 'general.accessibility.your_wishlist' | t | escape }}
							(<span class="wishlist-number"></span>)
						</a>
					{%- endif -%}
				</div>
				{%- if settings.header_style4_social_enable -%}
					{%- render 'header-social-links' -%}
				{%- endif -%}
			</div>
		</div>
	</div>				
</div>
<div class="header__bottom">
	<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
		<div class="w100{% if settings.use_sticky %} use-sticky--desktop{% endif %} header__wrap flex flex-align-ver">
			{% render 'header__logo' %}
			{% section 'navigation' %}
			<div class="header__bottom-links flex flex-align-ver" style="align-self:normal;justify-content:flex-end;">
				<div class="flex flex-align-ver header__bottom-link-list h100">
					<a href="{{ routes.search_url }}" class="bt-dropdown__trigger header__bottom__typo header__bottom__ele search-full-trigger" title="{{ 'general.search.placeholder' | t | escape }}">
						{% render 'icon-search' %}
					</a>
					
					{%- if shop.customer_accounts_enabled -%}
						<div class="bt-dropdown flex flex-align-ver header__bottom__ele h100{% if customer %} por{% endif %}" data-group="header__links">
							{%- if customer -%}
								<a class="bt-dropdown__trigger header__bottom__typo" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_url }}">
									{%- render 'icon-account' -%}
								</a>
								<div class="bt-dropdown__content bt-dropdown__content--gutter bt-dropdown__content--auto-center" style="white-space:nowrap;min-width:auto;">
									<a href="{{ routes.account_url }}" title="{{ 'customer.account.title' | t | escape }}" class="db w100 gutter-ele-top gutter-ele-bottom">
										{%- unless enable_rtl -%}
											{% render 'icon-account' %}&nbsp;<span>{{ 'customer.account.title' | t }}</span>
										{%- else -%}
											<span>{{ 'customer.account.title' | t }}</span>&nbsp;{% render 'icon-account' %}
										{%- endunless -%}
									</a>
									<a href="{{ routes.account_logout_url }}" title="{{ 'layout.customer.log_out' | t | escape }}" class="db w100 gutter-ele-top gutter-ele-bottom">
										{%- unless enable_rtl -%}
											{%- render 'icon-sign-out' -%}&nbsp;<span>{{ 'layout.customer.log_out' | t }}</span>
										{%- else -%}
											<span>{{ 'layout.customer.log_out' | t }}</span>&nbsp;{%- render 'icon-sign-out' -%}
										{%- endunless -%}
									</a>
								</div>
							{%- else -%}
								<a class="bt-dropdown__trigger header__bottom__typo" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_login_url }}">
									{%- render 'icon-account' -%}
								</a>
								<div class="bt-dropdown__content bt-dropdown__content--gutter bt-dropdown__content--right bt-dropdown__content--right-fluid">
									{%- render 'login-form-header', id: 'customer_login_header', suffix_id_field: 'Header', left_holder: left_holder, right_holder: right_holder -%}
								</div>
							{%- endif -%}
						</div>
					{%- endif -%}
					
					{%- render 'header-cart', data_group: 'header__links', cart_dropdown_direction: 'bt-dropdown__content--right bt-dropdown__content--right-fluid', addition_classes: 'flex flex-align-ver fw-bold', show_cart_text: true, header_custom_class: 'header__bottom__ele h100' -%}
				</div>
			</div>
		</div>
	</div>
</div>