<div class="hide">
	<div class="rb-countdown-hour">
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__hour db">%H</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__minute db">%M</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__seconds db">%S</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
	<div class="rb-countdown-day">
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__day db">%-d</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_days' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__hour db">%H</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__minute db">%M</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__seconds db">%S</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
	<div class="rb-countdown-week">
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__day db">%-w</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_weeks' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__day db">%-d</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_days' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__hour db">%H</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__minute db">%M</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="rb__countdown dib"><span class="rb__countdown__number rb__countdown__seconds db">%S</span><span class="rb__countdown__text text-uppercase db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
</div>