<div class="hide">
	<div class="single-deal-hour">
		<div class="psd__countdown gutter-ele-top-mb"><span class="psd__countdown__number psd__countdown__hour db">%H</span><span class="psd__countdown__text db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__minute db">%M</span><span class="psd__countdown__text db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__seconds db">%S</span><span class="psd__countdown__text db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
	<div class="single-deal-day">
		<div class="psd__countdown gutter-ele-top-mb"><span class="psd__countdown__number psd__countdown__day db">%-d</span><span class="psd__countdown__text db">{{ 'products.product.countdown_days' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__hour db">%H</span><span class="psd__countdown__text db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__minute db">%M</span><span class="psd__countdown__text db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__seconds db">%S</span><span class="psd__countdown__text db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
	<div class="single-deal-week">
		<div class="psd__countdown gutter-ele-top-mb"><span class="psd__countdown__number psd__countdown__day db">%-w</span><span class="psd__countdown__text db">{{ 'products.product.countdown_weeks' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__day db">%-d</span><span class="psd__countdown__text db">{{ 'products.product.countdown_days' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__hour db">%H</span><span class="psd__countdown__text db">{{ 'products.product.countdown_hours' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__minute db">%M</span><span class="psd__countdown__text db">{{ 'products.product.countdown_minutes' | t }}</span></div>
		<div class="psd__countdown distance-top-ele"><span class="psd__countdown__number psd__countdown__seconds db">%S</span><span class="psd__countdown__text db">{{ 'products.product.countdown_seconds' | t }}</span></div>
	</div>
</div>