{%- layout none -%}
{%- assign featured_image = product.first_available_variant.featured_image -%}
{%- if feature_image == blank -%}
	{%- assign featured_image = product.featured_image -%}
{%- endif -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div>
	<div class="pg" data-product-handle="{{ product.handle }}" data-ignore-sold-out-text="1">
		<div class="col-xs-7 col-md-5 no-gutter-left-mb no-gutter-right-mb gutter-ele-bottom-tbs product__select-opion-image center-block">
			{%- assign img_url = featured_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_{width}x.' -%}
		  <div class="img-container" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
		  	<img data-aspectratio="{{ featured_image.aspect_ratio }}"
	              data-src="{{ img_url }}"
	              data-sizes="auto" class="w100 pg__main-image img-responsive center-block img-abs center-abs lazyload zoom-fade"{% include 'img-one-pixel' %} alt="{{ featured_image.alt | escape }}" data-image-size="1x1"/>
		  </div>
		</div>
		<div class="col-xs-12 col-md-7 gutter-ele-top-tbs">
			<div class="product-single__title product-single__title--select-options gutter-ele-bottom">{{ product.title }}</div>
			<div class="gutter-ele-top gutter-ele-bottom">
				{%- include 'product-variant-price' with variant: current_variant -%} 
			</div>	 
			{% include 'product-group-variants', enable_product_options: true, color_size: '40x', is_single_view: true  %}
			{%- include 'product-single-form', align_center_button: true -%}
		</div>
	</div>
</div>